.nav__upper .upper__right{
    display: inline-block;
    margin-bottom: 15px;
}
 .upper__right{
margin-left: 970px;
/* position: relative; */
 }

 .sign-in{
    text-decoration: none;
    color: green;
    /* position: relative; */
    margin-right: 10px;
 }
.get-started{
border: 1px solid green;
border-radius: 5px;
padding: 8px;

text-decoration: none;
color: green

}

.nav__lower >a{
text-decoration: none;
margin-left: 60px;
margin-top: 15px;

}
.nav__lower{
    text-align: center;

}


.content{
    justify-content: center;
    width: 570px;
    margin:auto ;


    position: relative;
}
h2{
    position: relative;

}
p{
    width: 600px;
    display: inline;
}
.upper__left {
    height: 30px;
     width: 30px;
     margin-top: 35px;
     margin-left:90px;
}
.grid  {
    text-align: center;
 /* width: 600px; */


}
.grid > a  {
    text-decoration: none;
    font-weight: 550;
    color: black;
    opacity: .7;
    padding: 20px;
   margin-left: 90px;
   text-align: center;
    font-size: 13px;
    display: inline-block;

}
.footer__right{
    display: inline-block;
    margin-left: 970px;


}
.about {
    margin-right: 10px;
     text-decoration: none;
     color: rgba(125, 125, 124, 0.808);
     margin-bottom: 20px;
}
.help {
    text-decoration: none;
    color: rgba(125, 125, 124, 0.808);
    margin-bottom: 20px;
}
.footer__left{
height:30px;
width: 30px;
}
